Repository SUNCAT-Center/CatKit, changes with the owners that docs/CODEOWNERS names for each.
All owners: @jboes, @maumnm, @kirstenwinther

tests for create and delete user
  catkit/hub/tests/test_upload.py
Owners: @kirstenwinther

postgres user for testing
  catkit/hub/postgresql.py
Owners: @kirstenwinther

more tests
  catkit/hub/tests/test_cli.py
  catkit/hub/tests/test_upload.py
Owners: @kirstenwinther

import corrections
  catkit/__init__.py
  catkit/build.py
  catkit/gen/__init__.py
  catkit/gen/adsorption.py
  catkit/gen/molecules.py
  catkit/gen/utils/connectivity.py
Owners: @jboes

update to imports
  catkit/__init__.py
  catkit/build.py
  catkit/enumeration.py
  catkit/flow/db.py
  catkit/gen/__init__.py
  catkit/gen/adsorption.py
  catkit/gen/surface.py
  catkit/gen/symmetry.py
Owners: @jboes, @maumnm, @kirstenwinther

a few more tests
  catkit/hub/tests/test_upload.py
Owners: @kirstenwinther

cleanup
  catkit/hub/query.py
Owners: @kirstenwinther

fix test
  catkit/hub/tests/test_upload.py
Owners: @kirstenwinther

docs/CODEOWNERS:

# List of people reponsible for the maintainence
# of particular sections of code

# General code managers
*                     @jboes

# CatGen
catkit/gen/           @jboes

# CatFlow
catkit/flow/          @jboes @maumnm @kirstenwinther

# Pawprint
catkit/pawprint/      @maumnm @jboes

# CatHub
catkit/hub/           @kirstenwinther
