Repository SUNCAT-Center/CatKit, changes with the owners that docs/CODEOWNERS names for each.
All owners: @jboes, @maumnm, @kirstenwinther, @mhoffman

SlabGenerator reduces to primitive bulk unit cell first
  catkit/build.py
  catkit/gen/surface.py
  catkit/gen/utils.py
  readme.org
Owners: @jboes

Patches to molecule generation / move the default radical (bonding limits) to the defaults.py
  catkit/build.py
  catkit/gen/__init__.py
  catkit/gen/molecules.py
  catkit/gratoms.py
Owners: @jboes

First pass at search algorithem for size creation
  catkit/gen/surface.py
Owners: @jboes

remove file from test
  catkit/hub/tests/aayush/make_folders_template.py
Owners: @kirstenwinther, @mhoffman

avoid use of special characters
  catkit/hub/folderreader.py
Owners: @kirstenwinther, @mhoffman

finished first draft of revamped slab generator / passes visual inspections with ASE code, should only require minor tweaks from here
  catkit/build.py
  catkit/gen/surface.py
  catkit/gratoms.py
Owners: @jboes

added password parameter + cleanup
  catkit/hub/cli.py
Owners: @kirstenwinther, @mhoffman

fix create_user + remove_user + too much stuff being printed
  catkit/hub/postgresql.py
Owners: @kirstenwinther, @mhoffman

only subtables if write_db
  catkit/hub/query.py
Owners: @kirstenwinther, @mhoffman

deleted old folderreader
  catkit/hub/folderreader_old.py
Owners: @kirstenwinther, @mhoffman

Fixed org-mode syntax and added example for cathub organize command
  docs/catkit/hub/hub.org
Owners: @jboes

Fixed org mode syntax and added example for cathub organize
  docs/catkit/hub/hub.org
Owners: @jboes

PEP8 cosmetics
  catkit/hub/organize.py
Owners: @kirstenwinther, @mhoffman

Removed a superfluous function
  catkit/hub/organize.py
Owners: @kirstenwinther, @mhoffman

Added files created in test
  catkit/hub/tests/make_test_slabs.py
Owners: @kirstenwinther, @mhoffman

Experiment with caching miniconda directories on Travis
  .travis.yml
Owners: @jboes

Added a bulk structure for testing
  catkit/hub/tests/make_test_slabs.py
Owners: @kirstenwinther, @mhoffman

Changed setting for bulk cutoff in test
  catkit/hub/tests/test_file_organization.py
Owners: @kirstenwinther, @mhoffman

Ok, order matters ...
  .travis.yml
Owners: @jboes

Ok, PGP keys help, too.
  .travis.yml
Owners: @jboes

Ok, Intel APT server seem to send a lot of data
  .travis.yml
Owners: @jboes

Ok, Intel APT server seem to send a lot of data
  .travis.yml
Owners: @jboes

Try a different MKL version
  .travis.yml
Owners: @jboes

APT install of Intel MKL seems broken. Maybe Travis has to whitelist some repos?
  .travis.yml
Owners: @jboes

Added facet-name option for cathub organize again
  catkit/hub/cli.py
Owners: @kirstenwinther, @mhoffman

Rounded off some versions in requirements.txt
  requirements.txt
Owners: @jboes

Fixed test in cathub organize test
  catkit/hub/cli.py
  catkit/hub/tests/make_test_slabs.py
Owners: @kirstenwinther, @mhoffman

Some smaller changes
  .travis.yml
  catkit/hub/cli.py
  catkit/hub/organize.py
  catkit/hub/tests/make_test_slabs.py
  catkit/hub/tests/test_file_organization.py
  docs/catkit/hub/hub.org
  requirements.txt
Owners: @jboes, @kirstenwinther, @mhoffman

Little PEP8 Cosmetics and orgMode README for github (#44)
  .travis.yml
  catkit/hub/cli.py
  catkit/hub/organize.py
  catkit/hub/tests/make_test_slabs.py
  catkit/hub/tests/test_file_organization.py
  docs/catkit/hub/hub.org
  requirements.txt
Owners: @jboes, @kirstenwinther, @mhoffman

Filter out structures read by ase.io.read that contain no energy
  catkit/hub/organize.py
Owners: @kirstenwinther, @mhoffman

Remove the current API functions and test support for these features. / relax the SciPy package requirements.
  .travis.yml
  catkit/gen/api/__init__.py
  catkit/gen/api/catmap.py
  catkit/gen/api/rd_kit.py
  catkit/gen/tests/test_examples.py
  catkit/gen/tests/test_pathways.py
  requirements.txt
  setup.py
Owners: @jboes

changed documentation and the index argument in catkit.build.surface
  catkit/build.py
  catkit/gen/adsorption.py
  catkit/gen/surface.py
Owners: @jboes

Added flag to store intermediate structures as json
  catkit/hub/cli.py
  catkit/hub/organize.py
Owners: @kirstenwinther, @mhoffman

Fixed syntax error
  catkit/hub/cli.py
Owners: @kirstenwinther, @mhoffman

fix for correct graph indexing / Considerably reduce the size of the package
  catkit/data/chemical-properties.json
  catkit/db.py
  catkit/gen/surface.py
  catkit/gen/tests/test_classification.py
  catkit/gen/tests/test_pathways.py
  catkit/gratoms.py
  catkit/tests/data/fingerprints.db
  catkit/tests/data/molecules.db
  catkit/tests/test_build.py
  catkit/tests/test_db.py
  catkit/tests/test_gratoms.py
  catkit/tests/test_learn.py
Owners: @jboes

docs/CODEOWNERS:

# List of people reponsible for the maintainence
# of particular sections of code

# General code managers
*                     @jboes

# CatGen
catkit/gen/           @jboes

# CatFlow
catkit/flow/          @jboes

# Pawprint
catkit/pawprint/      @maumnm

# CatHub
catkit/hub/           @kirstenwinther @mhoffman
